body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: blanchedalmond;
}

h2 {
    display: inline-block;
    position: relative;
    top: 440px;
    left: 26px;
    color: blanchedalmond;
}

p {
    display: inline-block;
    position: relative;
    top: 540px;
    left: -65px;
    color: blanchedalmond;
}


.weather {
    font-size: 20px;
}
.border {
border-radius: 20px;
max-width: 600px;
display: block;
margin: 0 auto;
background-image:url(https://images.unsplash.com/photo-1537420327992-d6e192287183?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)

}

.searchBar {
    display: inline;
    position: relative;
    top: 65px;
    color: blanchedalmond;
    
}

.col-2 {
    border-left: 3px solid black;
    color: blanchedalmond;
  }


 #celsiusLink {
    text-decoration: none;
    color: cadetblue;
}

#fahrenheitLink {
    text-decoration: none;
    color: cadetblue;
}




