body {
    color: #FFFF; 
}

ul {

    color: gray;
    list-style: none;
    
}



.countainer {
    max-width: 600px;
    margin: 0 auto;
    background-color:#F9F8FD;
    border: solid 1px gray;
    border-radius: 20px;
   margin-top: 30px;
  
    
}

.seconde {
    position: relative;
    top: -120px;
    right: -320px;

}


.searchBar {
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: flex-start;
    top: 65px;
    color: blanchedalmond;
    
}
.gitHubLink {
    text-align: center;
}

#city {
   
    font-size: 40px;
}

#city, #temperature, #day, #hour, #minutes, #details {
    color: gray;
}
  
#temperature {
    font-size: 50px;
    font-weight: 400;
}
#unitLink{
 
    text-decoration: none;
    color: cadetblue;
}

#locationButton {
    display: inline-block;
    position: relative;
    top: -55px;
    right: -300px;

}




