body {
    color: #FFFF; 
}


a {  
  text-decoration: none !important;
}
.countainer {
    max-width: 600px;
    margin: 0 auto;
    background-color:#F9F8FD;
    border: solid 1px gray;
    border-radius: 20px;
    margin-top: 30px;
  
    
}



.searchBar {
    margin-top: 30px;
    align-self: flex-start;
    top: 65px;
    color: blanchedalmond;
    
}
.cityName, .preciseUnit {
    margin-left: calc(var(--bs-gutter-x)* 2) !important;
    text-transform: capitalize;
}

.main {
    color: gray;
}

.gitHubLink {
    text-align: center;
    font-size: 10px;

}
.active {
   color: gray;
   cursor:default;
 }

 .active:hover{
     text-decoration: none;
 }

.date, .weatherDescription {
    font-size: 12px;
    text-transform: capitalize;
}
 
.forecast {
    margin-left: 50px;
}

.forecast-temperature-min,
.forecast-temperature-max {
    font-size: 10px;
}

#city {
    font-size: 45px;
}



#temperature {
    font-size: 35px;
    font-weight: 400;
}
#unitLink{
 
    text-decoration: none;
    color: cadetblue;
}

#locationButton {
    display: inline-block;
    position: relative;
    top: -55px;
    right: -300px;

}




